<div class="top-text">
  <div class="top-inner-text">
    <h1><%= t('.today_menus') %></h1>
  </div>
  <div class="top-explanation">
    <h2>毎日の献立選び、面倒だと思いませんか？</h2>
    <h3>一日の中で決定しなければならないことが多いと、気疲れしてしまうことがありますよね。
    このサービスを使えば、そんな悩みから解放され、毎日の献立を考える手間を省くことができます。
    もっとシンプルに、もっと楽しく、毎日の食事を楽しみませんか？</h3>
  </div>
  <div class="diagnosis">
    <%= link_to t('.diagnosis'), '#', class: 'diagnosis-btn btn' %>
  </div>
</div>