<div class="top-text">
  <div class="top-inner-text">
    <h1><%= t('.today_menus') %></h1>
  </div>
  <div class="top-explanation">
    <h2>毎日の献立選び、面倒だと思いませんか？</h2>
    <h3>
      1日の中で決定しなければならないことが多いと、気疲れしてしまうことがありますよね。
      このサービスを使えば、そんな悩みから解放され、毎日の献立を考える手間を省くことができます。
      もっとシンプルに、もっと楽しく、毎日の食事を楽しみませんか？
    </h3>
    <div class="search-form">
      <%= render 'search_form', search_form: @search_form %>
    </div>
  </div>
  <div class="diagnosis">
    <%= link_to t('.diagnosis'), suggest_menus_path, class: 'diagnosis-btn btn' %>
  </div>
  <div class="how-to-use">
    <i class="bi bi-pencil"></i>
    <%= link_to t('.how_to_use'), use_path, class: 'how-to-use-link' %>
  </div>
</div>