<footer id='footer' class='footer-bottom'>
    <div class='row'>
      <div class='col-sm-6 col-12'>
        <div class='copyright'>
          <%= link_to t('footer.inquiry'), '#', class: 'nav-link' %>
          <%= link_to t('footer.terms'), terms_path, class: 'nav-link' %>
          <%= link_to t('footer.privacy'), '#', class: 'nav-link' %>
        </div>
      </div>
    </div>
</footer>