<% content_for(:title, t('.title')) %>
<% breadcrumb :line_path %>
<div class="line-profile-container">
  <div class="line-profile-edit-form">
    <div class="line-top-explanation">
      <h3>友だち追加でLINEから献立をチェックできます！</h3>
    </div>
    <%= link_to 'https://page.line.me/463wwxxg', class: 'line-navbar-login' do %>
      <i class="bi bi-line"></i> 友だち追加！
    <% end %>
  </div>
</div>