<% content_for(:title, t('.title')) %>
<% breadcrumb :use_path %>
<div class="use">
  <!-- 最初の一歩を誘導するステップ -->
  <div class="guide-steps">
    <h1>最初の一歩</h2>
    <ol>
      <li>「診断スタート！」ボタンを押して献立を取得。</li>
      <li>料理名をクリックして詳細を確認。</li>
      <li>会員登録して投稿やお気に入り機能を活用。</li>
    </ol>
  </div>

  <!-- 動画埋め込みセクション -->
  <div class="how-to-use-videos">
    <h1>使い方動画</h2>
    <div class="video">
      <h2>献立提案機能</h3>
      <p>
        献立が1品表示されます。提案された献立を受け入れ、新たな料理体験を楽しんでください。
        初めて見る献立に出会えるかもしれません。
      </p>
      <a href="https://gyazo.com/0a4854e7822be6a4146934b4099aa70f"><img src="https://i.gyazo.com/0a4854e7822be6a4146934b4099aa70f.gif" alt="Image from Gyazo" width="560"/></a>
    </div>
    <div class="video">
      <h2>検索機能</h3>
      <p>
        検索機能では条件を満たした献立の中からランダムに1品のみ表示される仕組みになっています。
        提案された献立を受け入れることで献立を選ぶ手間がなくなり、新たな料理を出会うきっかけを提供します。
      </p>
      <a href="https://gyazo.com/af62327db64e3e3fc6dc25be93dc1164"><img src="https://i.gyazo.com/af62327db64e3e3fc6dc25be93dc1164.gif" alt="Image from Gyazo" width="560"/></a>
    </div>
  </div>

  <!-- アプリ作成の思い -->
  <div class="app-vision">
    <h1>このアプリに込めた思い</h2>
    <p>
      人の集中力は決断することにより失われます。集中力は大きな決断、些細な決断問わず消費します。PCの電源を付ける。鞄からスマホを取り出す。といった小さな決断でも集中力を低下させる要因となります。集中力が低下すると脳が疲れたと感じるようになります。
      そこで決断をする回数を減らすことでユーザーのサポートをしようと考えました。表示する献立を1品に絞ることでユーザーの意思決定を減らし、生活の負担を軽減します。
      「今日何食べたい？」は、こうした背景から「毎日の献立決めの負担を減らす」という目標を掲げて誕生しました。ユーザーが簡単かつ楽しく献立を決められるようになることで、生活の質を向上させるサービスを目指しています。
    </p>
  </div>
</div>