header {
  padding: 25px 0px;
  background-color: rgba(238, 130, 125, 1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  color: rgba(51, 51, 51, 1);
}

.navbar-brand {
  font-size: 32px;
  margin-left: 40px;
  text-decoration: none;
  color: rgba(51, 51, 51, 1);
}

.navbar-user {
  display: flex;
  align-items: center;
}

.navbar-item {
  margin: 0px 40px 0px 15px;
  text-decoration: none;
  color: rgba(51, 51, 51, 1);
  position: relative; /* 子要素の位置を調整 */
}

.menu-content {
  display: none; /* デフォルトでは非表示 */
  position: absolute; /* 絶対位置に設定 */
  top: 100%; /* 親要素の下に配置 */
  right: 0;
  width: 250%;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 1); /* 背景色を設定 */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 100; /* 他の要素の上に表示 */
}

.menu-item {
  display: block; /* メニュー項目をブロック表示 */
  padding: 10px 20px; /* パディングを設定 */
  text-decoration: none;
  color: rgba(51, 51, 51, 1);
}

#hamburger-menu:hover .menu-content {
  display: block; /* ホバー時にメニューを表示 */
}

/* スマホ画面用のスタイル */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* 縦に並べる */
    align-items: flex-start; /* 左寄せ */
  }

  .navbar-brand {
    margin-left: 20px; /* 左のマージンを調整 */
    font-size: 24px; /* フォントサイズを小さく */
  }

  .navbar-user {
    margin-top: 10px; /* ユーザーセクションの上部マージン */
    justify-content: space-between;
    width: 100%; /* ユーザーセクションをフル幅に */
  }

  .navbar-item {
    margin: 0; /* スマホではマージンをリセット */
    padding: 10px; /* パディングを調整 */
  }

  /* ハンバーガーメニュー */
  #hamburger-menu {
    display: flex; /* ハンバーガーメニューを表示 */
    flex-direction: column; /* 縦に並べる */
    cursor: pointer; /* ポインターを表示 */
  }
}
